#calendar-container {
    padding-right: 15em;
    padding-left: 15em;
}

.modal, 
.modal h1, 
.modal label, 
.modal input, 
.modal button {
    color: #000; 
    margin: 0px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal div {
    margin: 20px;
}

@media (max-width: 1024px)
{
    #calendar-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}