#calendar-container {
    padding-right: 15em;
    padding-left: 15em;
}

.modal, .modal h1 {
    color: #000
}

@media (max-width: 1024px)
{
    #calendar-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}