<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.scrollex.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="js/main.js"></script>

<script src="fullcalendar/core/main.js"></script>
<script src="fullcalendar/daygrid/main.js"></script>
<script src="fullcalendar/timegrid/main.js"></script>
<script src='fullcalendar/bootstrap/main.js'></script>
<script src="fullcalendar/google-calendar/main.js"></script>
<script src="fullcalendar/interaction/main.js"></script>
<script src="js/calendar.controller.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
